body {
  background-color: rgb(6, 12, 12);
  color: #2d5d13;
  /* overflow-x: hidden; */
}

.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.potd-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mars-photo-container {
  position: relative;
}

.mars-photo {
  position: absolute;
  /* min-width: 500px; */
  /* top: 0;
  left: -200px; */
}

.photo-player {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.btn-container {
  display: flex;
  justify-content: center;
}

