body {
  background-color: rgb(6, 12, 12);
  color: #2d5d13;
  /* overflow-x: hidden; */
}

.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.potd-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-player-wrapper {
  display: flex;
  position: absolute;

}

.mars-photo {
  flex: 1;
  min-width: 500px;
  transition: display 2s;
}

.mars-photo:hover {
  width: 700px;
}


.photo-player {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}
